button{
    height: 50px;
    width: 50px;
    margin-bottom: 5px;
    border-radius: 25px;
    border: solid;
    cursor: pointer;
    transition-property: background-color;
    transition: 0.3s;
    box-shadow: 2px 2px rgb(125, 125, 125);
    
}
button:hover{
    background-color: rgb(203, 203, 203);
    border-color: black;


}
button:active{
    background-color:  rgb(145, 145, 145);
}
.liczby{
    display: block;
    margin-right: 50px;
}
.wynik{
    width: 148px;
    height: 40px;
    border-radius: 20px;
    border: solid;
    border-color: black;
    box-shadow: 3px 3px rgb(125, 125, 125);

}